/* VideosList.module.css */

.resultsContainer {
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

.resultsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}
.videoLink{
    text-decoration: none;
}
.videoCard {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: transform var(--transition-fast);
    padding-bottom: 10px;
    border: 1px solid var(--border-color);
}

.thumbnailWrapper {
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    background: var(--neutral-100);
    margin-bottom: 0.75rem;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-slow);
}

.videoCard:hover .thumbnail {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    justify-content: flex-end;
}



.videoInfo {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}
.channel {
    margin-bottom: 10px;
    font-size: .9rem;
    color: var(--text-light);
    font-weight: 700;
}
.date {
    font-size: 0.8rem;
    color: var(--text-light); /* Subdued gray for date */
}

.addButton{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--background-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIcon {
    width: 25px;
    height: 25px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    background-color: transparent;
}
.addIcon rect,
.addIcon polygon{
    fill: var(--text-color);
}
.addIcon:hover rect,
.addIcon:hover polygon{
    fill: var(--primary-hover);
}

/* Responsive */
@media (max-width: 768px) {
    .resultsGrid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 1.5rem;
    }

    .addButton {
        opacity: 1; /* Always show on mobile */
    }
}
