.playlistsPage{
    padding:40px;
}
.header{
    color: var(--primary-dark-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
}
.resultsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}
