.hero {
    padding: 0rem 1.5rem;
    background: linear-gradient(
        135deg,
        var(--neutral-50) 0%,
        var(--neutral-200) 100%
    );
    height: 85vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero .container{
    height:fit-content;
}

.heroTitle {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: var(--primary-color);
    line-height: 1.2;
}

.heroSubtitle {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem;
    color: var(--neutral-700);
    opacity: 0.9;
}

.inputSection {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.inputLabel {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .heroTitle {
        font-size: 2rem;
    }

    .heroSubtitle {
        font-size: 1rem;
    }

    .inputLabel {
        font-size: 1rem;
    }

    .hero {
        padding: 0rem 1rem;
    }
}

@media (max-width: 480px) {
    .hero{
        padding-right: 10px;
        padding-bottom: 10px;
        align-items: center;
    }
    .container{
        padding: 0;
    }
    .heroTitle {
        font-size: 1.75rem;
    }

    .heroSubtitle {
        font-size: 0.95rem;
    }

    .inputSection {
        padding: 0;
    }
    .inputLabel {
        font-size: 0.95rem;
    }
    .inputSection {
        width: 100%;
    }
}
