.playlistsPage{
    padding:40px;
}
.header{
    color: var(--primary-dark-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
}
.playlistsWrapper{
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}