.playlistsPage{
    padding:40px;
}
.header{
    color: var(--primary-dark-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
}

.playlistsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}


@media (max-width: 768px) {
    .playlistsGrid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 1.5rem;
    }

}

@media (max-width: 400px) {
    .playlistsPage{
        padding: 15px;
    }
    .header{
        font-size: 1.6rem;
    }
    .playlistsGrid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 1.5rem;
    }
}
