.cardWrapper {
    position: relative;
    /* width: calc((100% / 4) - 10px); */
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    background: var(--background-color);
    box-shadow: var(--shadow-sm);
    transition: all var(--transition-fast);
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 16/9  ;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--neutral-100);
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform var(--transition-normal);
}

.videosNumber {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-on-primary);
}

.playlistIcon {
    width: 20px;
    height: 20px;
}

.playlistIcon path {
    fill: var(--text-on-primary);
    stroke: var(--text-on-primary);
}

.playOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--text-on-primary);
    font-size: 16px;
    font-weight: 700;
    display: none;
}

.playIcon {
    width: 25px;
    height: 25px;
    fill: var(--text-on-primary);
}

.card:hover .playOverlay {
    display: flex;
}

.iconWrapper {
    position: absolute;
    fill: var(--text-on-primary);
    background-color: rgba(0, 0, 0, 0.6);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 15px;
    height: 15px;
}

.title {
    font-weight: 400;
    padding: 0 10px 10px;
    color: var(--text-color);
}

.optionsWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}
.ellipsisWrapper {
    outline: none;
    border: none;
    padding: 0;

    background-color: var(--background-color);
    box-shadow: var(--shadow-md);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipsisIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    fill: var(--text-color);
}
.ellipsisActive {
    fill: var(--primary-hover);
}
.ellipsisWrapper:hover .ellipsisIcon {
    fill: var(--primary-hover);
}
.optionsBox {
    right: 35px !important;
    top: 0 !important;
}
.removeFavoritePlaylist{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    padding: 0;
    background-color: var(--background-color);
    box-shadow: var(--shadow-md);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.removeFavoritePlaylist:not(:disabled):hover svg{
    fill: var(--primary-hover);
}
.removeFavoritePlaylist svg{
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
}
.unavailableCard{
    opacity: .5;
    cursor: auto;
}
.unavailableCard .playOverlay{
    display: flex;
    background-color: rgba(77, 77, 77, 0.5);

}
