.mobilityWrapper{

    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    align-items: center;
    margin-bottom: 20px;
}
.pointer{
    font-size: 38px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer:hover{
    background-color: var(--box-color); 
}
.disabled{
    opacity: .5;
    cursor:default;
}