.urlSearch{
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}
.inputWrapper{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    position: relative;
}
.input{
    border-radius: 15px 0px 0 15px ;
    color: var(--text-color);
    font-size: 16px;
    width: calc(100% - 100px);
    outline: 0;
    border: 1px solid var(--border-color);
    padding: 14px 4px 14px 14px;
    background-color: var(--input-background-color);
}
.inputLink{
    position: absolute;
    right: 0;
    background-color: var(--box-color);
    width: 100px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: 0 15px 15px 0;
}
.notValid{
    border-color:red ;
}

.inputButton{
    font-size: 16px;
    position: absolute;
    right: 0;
    background-color: var(--box-color);
    width: 100px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.notValidLink{
    opacity: .5;
    cursor:default;
}