/* styles/globals.css or a specific CSS file */

.skeletonWrapper {
    padding: 30px;
}
.skeletonTitle,
.skeletonLine,
.skeletonLineShort,
.skeletonIcon,
.skeletonSmallIcon,
.skeletonLineTall,
.skeletonDate {
    background-color: #363636;

    background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 60%
        )
        #363636;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}
@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.skeletonCard {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
}
.skeletonIcon {
    width: 220px;
        height: 124px;
    /* border-radius: 50%; */
}
.skeletonSmallIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.skeletonInfo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5px;
    width: 95%;
}
.skeletonTitle {
    width: 60%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.skeletonDate {
    width: 40%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.skeletonLine {
    width: 100%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.skeletonLineTall {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.skeletonLineShort {
    width: 80%;
    height: 20px;
}
